* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #1f2240;
}

:root {
  --bg-focus: red;
  --bg-break: #2f3135;
  --bg-card: #0d0d0d;
  --bg-pause: #f1f1f1;
}

.container {
  margin: 0 auto;
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opacity {
  opacity: .5;
}

/* CARD */
.card {
  background-color: var(--bg-card);
  padding: 4rem;
  border-radius: 2rem;
}

/* CARD-HEADER */
.card-header {
  display: flex;
  justify-content: center;
}

#focus, #break {
  color: white;
  font-size: 2rem;
  border-radius: 1rem;
  border: 0;
  background-color: var(--bg-focus);
  padding: .6rem 1rem;
  margin: 1rem 1.5rem;
}

/* CARD-BODY */
.card-body {
  font-size: 7rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin: 2rem 1rem;
}

/* CARD-FOOTER */
.card-footer {
  display: flex;
  justify-content: center;
  gap: 1.3rem;
}

#play, #pause, #restart {
  background-color: var(--bg-pause);
  font-size: 2rem;
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}